// Not found page

.bm-item-list {
  margin-top: 0;
}

.menu-hover {
 font-size: 3.5em;
 padding-right: .1em;
 padding-top: .1em;
}

.menu-hover-open {
  padding-right: .2em;
  padding-top: .2em;
 }
.menu-hover:hover {
  opacity: 0.5;
}

.hamburger-ul {
  display: block;

  li a h3 {
    border: 0;
    border-top: dotted 1px rgba(160, 160, 160, 0.3);
    margin: 1.5em 0 0 0;
    padding: 1.5em 0 0 0;
  }

  li a h3:hover {
    color: _palette(accent);
  }

  li {
    display: block !important;
  }

  h3 {
    font-size: 0.7em;
  }

  .index-li {
    border-top: none;
  }
}

@include breakpoint(medium) {
  
  .menu-hover {
    font-size: 10em; /* Doubling the original font-size for .menu-hover */
  }
  .hamburger-ul{
    padding-top: 2em;
  }

}


/* Adjustments for small screens */
@include breakpoint(small) {
  
  .menu-hover {
    font-size: 15em; /* Doubling the original font-size for .menu-hover */
  }
  .hamburger-ul{
    padding-top: 8em;
  }
  

}
