// Not found page

.bm-item-list {
  margin-top: 0;
}

.menu-hover {
 font-size: 3.5em;
}

.menu-hover:hover {
  opacity: 0.5;
}

.hamburger-ul {
  display: block;

  li a h3 {
    border: 0;
    border-top: dotted 1px rgba(160, 160, 160, 0.3);
    margin: 1.5em 0 0 0;
    padding: 1.5em 0 0 0;
  }

  li a h3:hover {
    color: _palette(accent);
  }

  li {
    display: block !important;
  }

  h3 {
    font-size: 0.7em;
  }

  .index-li {
    border-top: none;
  }
}


/* Adjustments for small screens */
@include breakpoint(small) {
  
  .menu-hover {
    font-size: 7em; /* Doubling the original font-size for .menu-hover */
  }
  
  .hamburger-ul li a h3 {
    font-size: 1.4em; /* Doubling the font size of h3 within .hamburger-ul */
    border-top: dotted 2px rgba(160, 160, 160, 0.3); /* Optionally, you might also want to double the border thickness */
    margin: 3em 0 0 0; /* Doubling the margin */
    padding: 3em 0 0 0; /* Doubling the padding */
  }
}
